.upload-section {
  width: 100%;
  height: 100vh;
  display: flex;
  padding: 0px;
  color: #20202f;
}
.info-container {
  width: 50%;
  height: 90vh;
  padding: 0px;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.requires-list {
  width: 40%;
  margin: auto auto;
}
.form-container {
  width: 50%;
  height: 100vh;
  background-color: #79787e;
  padding: 0px;
  display: flex;
  justify-content: center;
}
.form-hotel {
  width: 90%;
  height: 85%;
  color: #d5d5ea;
  margin: auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 1rem;
}
.services-options {
  display: flex;
  justify-content: space-between;
  text-align: center;
}
.service-option {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.upload-info {
  display: flex;
  width: 100%;
}
.ul-requires {
  display: flex;
  flex-wrap: wrap;
}
.input-hotel {
  width: 100%;
  height: 3rem;
  border-radius: 12px;
  border: none;
}
.text-hotel {
  height: 10rem;
  border-radius: 12px;
  border: none;
}
.check-services {
  border-radius: 32px;
  width: 24px;
  height: 24px;
}
.file-input {
  width: 50%;
  height: 2rem;
  border-radius: 12px;
}
.submit-hotel {
  width: 40%;
  height: 3rem;
  border-radius: 12px;
  margin: auto auto;
  background-color: #d5d5ea;
  border: none;
  color: #20202f;
  font-size: 1.2rem;
  font-weight: bold;
}
.uploaded {
  width: 100%;
  height: 90vh;
  text-align: center;
}
.access {
  margin: auto auto;
}
.default-payment {
  width: 100%;
  height: 100vh;
}
.default-h1 {
  margin: 20% 40%;
}
.h1-uploaded {
  color: black;
  margin: 20%;
}
.loading {
  width: 100%;
  height: 90vh;
  align-items: center;
}
@media screen and (min-width: 320px) and (max-width: 725px) {
  .ul-requires {
    width: 100%;
    height: 70vh;
    flex-wrap: wrap;
    font-size: 0.6rem;
  }
  .requires-list {
    width: 100%;
  }
  .upload-info {
    display: flex;
    flex-direction: column;
  }
  .form-container {
    width: 100%;
    height: 93vh;
  }
  label {
    font-size: 0.5rem;
  }
  .input-hotel {
    height: 0.6rem;
  }
  .text-hotel {
    height: 2rem;
  }
  .file-input {
    height: 1rem;
  }
  .submit-hotel {
    font-size: 1rem;
    height: 1rem;
    background-color: transparent;
    border: none;
    color: #20202f;
  }
  .check-services {
    height: 8px;
    width: 8px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1044px) {
  .form-container {
    width: 70%;
    height: 90vh;
    margin-top: 80px;
  }
  .requires-list {
    font-size: 0.8rem;
  }
  .input-hotel {
    font-size: 0.8rem;
    height: 0.8rem;
  }
  .form-hotel {
    height: 100%;
  }
  .text-hotel {
    height: 1rem;
  }
  label {
    font-size: 0.8rem;
  }
  .file-input {
    height: 0.8rem;
    font-size: 0.8rem;
  }
  .check-services {
    height: 10px;
    width: 10px;
  }
  .submit-hotel {
    height: 1rem;
    border: none;
    margin: 0 auto;
    background-color: transparent;
  }
}
